.Kings-Arms-Cardingto {
   margin: 8px 78px 0 81px;
  font-family: Gilroy-ExtraBold;
  font-size: 20px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.slpashscreen {
   /* width: 100%; */
  padding: 0 0 350px;
  background-color: #fff;
  border: 1px solid black;
}

.rectangleimg{
  /* margin: 400px 130px 0 150px; */
  padding: 14px 33px 13px;
  /* object-fit: contain; */
  border-radius: 19px;
  background-color: #ffdf3d;
  justify-content: center; 
  display: flex;
}
.center{
  display: flex;
  justify-content: center;
  /* margin-top: 50%; */
  padding-top: 55%;
}

.-High-Street-Kem {
  margin: 4px 59.5px 19px 61.5px;
  font-family: Gilroy-Light;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.WK-Splash-Copy-22 {
  width: 375px;
  height: 817px;
  padding: 0 0 328px;
  background-color: #fff;
}

.Rectangle {
  margin-right: 3%;
    padding: 1%;
  border-radius: 17px;
  border: solid 3px #ffd100;
   text-align: center; 
  justify-content: center;
  display: inline;
  
}